<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>629582805381-42t3kdk48ndol5l0gho6m824r8mo8agu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.629582805381-42t3kdk48ndol5l0gho6m824r8mo8agu</string>
	<key>API_KEY</key>
	<string>AIzaSyCeII4SSKzPlY0O6w4apsDvZ_wGRPRVi0c</string>
	<key>GCM_SENDER_ID</key>
	<string>629582805381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ahaCampingWeb</string>
	<key>PROJECT_ID</key>
	<string>aha-camping</string>
	<key>STORAGE_BUCKET</key>
	<string>aha-camping.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:629582805381:ios:d5f069a2ca91d977902cec</string>
</dict>
</plist>